.transaction-row {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border: 1px solid darkgrey;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  &.incoming {
    .transaction-row__amount {
      color: limegreen;
    }
  }
  &.outgoing {
    .transaction-row__amount {
      color: red;
    }
  }
  &__amount {
    flex: 1 1 auto;
  }
  &__date {
    flex: 0 0 150px;
  }
  &__from {
    flex: 0 0 100%;
  }
}