<div class="event">
    <h3 class="event__id">Задача №{{ event.id }}</h3>
    <div class="event__date">
        <strong>Дата: </strong>{{ event.date | date:"dd.MM.yyyy HH:mm:ss" }}
    </div>
    <div class="event__title">
        <strong>Заголовок: </strong>{{ event.title }}
    </div>
    <div class="event__desciption">
        <strong>Описание: </strong>{{ event.body }}
    </div>
</div>
<div class="edit-form__row" *ngIf="!event.haveRead; else elseBlock">
    <button (click)="$event.preventDefault(); read()">Ознакомлен</button>
</div>
<ng-template #elseBlock>Ознакомлен</ng-template>
<br/>
<a routerLink="/events">Вернуться к списку задач</a>